body{
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    font-family: "Helvetica";
    cursor: none;
    overflow-x: hidden;
    overflow-y: hidden;
    
}

/* font-family: "owners-xwide", sans-serif;
font-weight: 700;
font-style: normal; */


canvas{
    /* display: none; */
    filter: url('#gooey');
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

#main-div{
    scroll-behavior: smooth;
    /* position:absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgb(0, 0, 0, 100); */
    /* border: solid 2px black; */
    transition: all 0.5s ease-in-out;
}
#title-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    font-family: "owners-xwide", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    font-size: 1000%;
    color: white;
    /* font-weight: bolder; */
    text-align: center;
    z-index: 1;
    mix-blend-mode: difference;
}

#door-wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.door{
    width: 50vw;
    height: 100vh;
    transition: all 1s cubic-bezier(.87,0,.16,.99);
    background-color: black;
}


#gif-1{
    bottom: 5%;
    left: 15%;
}
#gif-2{
    top: 10%;
    right: 15%;
}
#gif-3{
    top: 5%;
    left: 3%;
}
#gif-4{
    bottom: 5%;
    right: 5%;
}

.just-do-it{
    position: absolute;
    filter: grayscale(100%);
    opacity: 0%;
    transition: all 0.5s ease-in-out;
    z-index: -10;
    border-radius: 30px;
    overflow: hidden;
    mix-blend-mode: difference;
    cursor: grab;
}

#intro-btn-wrapper{
    display: flex;
    justify-content: center;

}

#intro-btn{
    display: inline-block;
    font-size: 200%;
    font-family: owners-xwide, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: none;
    padding: 0px 10px;
    color: white;
    margin: 50px;
    z-index: 10;
    mix-blend-mode: difference;
}

#intro-btn:hover{
    text-decoration: underline 2px white;
    /* background-color: white; */
    color: white;
    /* cursor: grab; */
}
.vocal-btn{
    display: none;
    font-size: 200%;
    font-weight: lighter;
    background-color: none;
    padding: 0px 10px;
    color: white;
    margin: 50px;
    z-index: 0;
    border: none;
    mix-blend-mode: difference;
}



#script-btn-wrapper{
    animation-name: UpAndDown;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position:absolute;
    bottom: 10%;
    left: 50%;
    mix-blend-mode: difference;
}

@keyframes UpAndDown {
    from{
        transform: translateX(-50%) translateY(0%);
    }
    25%{
        transform: translateX(-50%) translateY(-25%);
    }
    50%{
        transform: translateX(-50%) translateY(0%);
    }
    75%{
        transform: translateX(-50%) translateY(25%);
    }
    to{
        transform: translateX(-50%) translateY(0%);
    }
}

#script-btn{
    color: white;
    mix-blend-mode: difference;
    font-family: owners-xwide, sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: none;
    z-index: 1;
    font-size: 120%;
    opacity: 0%;
    transition: all 1s cubic-bezier(.87,0,.16,.99);
}


#script-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

#script{
    font-family: "owners-xwide", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 220%;
    text-align: center;
    color: white;
    mix-blend-mode: difference;
    line-height: 200%;
}

#footer-wrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;

}

#footer{
    width: 100px;
    height: auto;
    z-index: 1100;
    mix-blend-mode: difference;
    pointer-events: none;
}

#footer-message{
    font-family: "owners-xwide", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 200%;
    color: white;
    mix-blend-mode: difference;
}

#top-btn{
    font-family: "owners-xwide", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 200%;
    color: white;
    mix-blend-mode: difference;
}
#top-btn:hover{
    text-decoration: underline 2px white;
    cursor: grab;
}
#cursor-wrapper{
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1000;
    mix-blend-mode: difference;

}

#cursor{
    width: 100px;
    height: auto;
    z-index: 1100;
    mix-blend-mode: difference;
    pointer-events: none;
}